<h1>タスク一覧</h1>

<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>メッセージ</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |tasks| %>
        <tr>
          <td><%= link_to tasks.id, edit_task_path(tasks) %></td>
          <td><%= tasks.status %></td>
          <td><%= tasks.content %></td>
          <td><%= link_to 'Edit', edit_task_path(tasks), class: 'btn btn-default' %></td>
          <td><%= link_to "Delete", tasks, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @tasks %>
  </div>
<% end %>

<%= link_to '新規タスクの投稿', new_task_path, class: "btn btn-primary" %>



